<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-green-haze">
			<i class="icon-bar-chart font-green-haze"></i>
			<span class="caption-subject bold uppercase"> Histórico de facturas</span>
		</div>
		<div class="actions">
			
			
				<a class="btn btn-circle btn-icon-only blue" href="javascript:;">
					<i class="icon-printer"></i>
				</a>
				<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
				</a>
			</div>
		</div>
		<div class="portlet-body">

			<div class="table-scrollable">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								Nº #
							</th>
							<th>
								Fecha
							</th>
							<th>Facturado a</th>
							<th>
								Fecha Vencimiento
							</th>
							<th>
								Total
							</th>
							<th>
								Estado
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								01/01/2015
							</td>
							<td>Miss MoneyPenny Diseño</td>
							<td>
								15/06/2015
							</td>
							<td>
								51,50
							</td>
							<td>
								<span class="label label-sm label-info">
										Pendiente de pago </span>
								</td>
								<td>
									<a class="btn default btn-xs" ui-sref="contrato.facturas.detalle"><i class="icon-eye"></i> Ver</a>	
								</td>
							</tr>
							<tr>
							<td>
								1
							</td>
							<td>
								01/01/2015
							</td>
							<td>Miss MoneyPenny Diseño</td>
							<td>
								15/06/2015
							</td>
							<td>
								55,00
							</td>
							<td>
								<span class="label label-sm label-success">
									Pagado </span>
								</td>
								<td>
									<a class="btn default btn-xs" ui-sref="contrato.facturas.detalle"><i class="icon-eye"></i> Ver</a>		
								</td>
							</tr>
							<tr>
							<td>
								1
							</td>
							<td>
								01/01/2015
							</td>
							<td>Miss MoneyPenny Diseño</td>
							<td>
								15/06/2015
							</td>
							<td>
								88,50
							</td>
							<td>
								<span class="label label-sm label-success">
									Pagado </span>
								</td>
								<td>
									<a class="btn default btn-xs" ui-sref="contrato.facturas.detalle"><i class="icon-eye"></i> Ver</a>		
								</td>
							</tr>
							<tr>
							<td>
								1
							</td>
							<td>
								01/01/2015
							</td>
							<td>Miss MoneyPenny Diseño</td>
							<td>
								15/06/2015
							</td>
							<td>
								51,50
							</td>
							<td>
								<span class="label label-sm label-success">
									Pagado </span>
								</td>
								<td>
									<a class="btn default btn-xs" ui-sref="contrato.facturas.detalle"><i class="icon-eye"></i> Ver</a>	
								</td>
							</tr>
							<tr>
							<td>
								1
							</td>
							<td>
								01/01/2015
							</td>
							<td>Miss MoneyPenny Diseño</td>
							<td>
								15/06/2015
							</td>
							<td>
								51,50
							</td>
							<td>
								<span class="label label-sm label-danger">
									Cancelada </span>
								</td>
								<td>
									<a class="btn default btn-xs" ui-sref="contrato.facturas.detalle"><i class="icon-eye"></i> Ver</a>		
								</td>
							</tr>
								
									
									</tbody>
								</table>
							</div>


						</div>
					</div>


