<div class="portlet light" ng-controller="EmpresaMisserviciosCtrl">
	<div class="portlet-title">
		<div class="caption font-green-haze">
			<i class="icon-basket-loaded font-green-haze"></i>
			<span class="caption-subject bold uppercase"> Servicios Contratados</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-circle btn-sm green-haze">
				<i class="icon-basket"></i> <span class="hidden-480">
				Contratar </span>
			</a>
			
			<a class="btn btn-circle btn-icon-only blue" href="javascript:;">
				<i class="icon-printer"></i>
			</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body">

		
		<div class="table-scrollable">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Servicio
						</th>
						<th>Descripción</th>
						<th>
							Fecha Inicio
						</th>
						<th>
							Próxima facturación
						</th>
						<th>
							Estado
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="servicio in servicios">
						<td>
							1
						</td>
						<td>
							{{servicio.descripcion}}
						</td>
						<td>Servicio gratuito de 1 agenda</td>
						<td>
							01/01/2015
						</td>
						<td>
							15/06/2015
						</td>
						<td>
							<span class="label label-sm label-success">
								Activo </span>
							</td>
							<td>
								<button class="btn red btn-xs"><i class="icon-power"></i> Cancelar</button>	
								<button class="btn default btn-xs"><i class="icon-eye"></i> Ver</button>	
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>

