
<div class="portlet light" ng-controller="EmpresaDatosEditarCtrl">
	<div class="portlet-title">
		<div class="caption font-green-haze">
			<i class="icon-settings font-green-haze"></i>
			<span class="caption-subject bold uppercase"> Editar de cuenta</span>
		</div>
		<div class="actions">
			<a class="btn btn-circle btn-icon-only blue" href="javascript:;">
				<i class="icon-printer"></i>
			</a>
			<a class="btn btn-circle btn-icon-only green" href="javascript:;">
				<i class="icon-wrench"></i>
			</a>
			<a class="btn btn-circle btn-icon-only red" href="javascript:;">
				<i class="icon-trash"></i>
			</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" name="formDatos" ng-model-options="{allowInvalid: true}" formvalidate="errorMessages" >
			<div class="form-body">
				<!-- <h3 class="form-section">Información</h3> -->
				<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="nombre"
						      	ng-model="datos.nombre"
						      	name="nombre"
						      	ng-required="true"
						      	ng-maxlength="100">
						     </ec-input> 
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="apellidos"
						      	ng-model="datos.apellidos"
						      	name="apellidos"
						      	ng-required="true"
						      	ng-maxlength="100">
						     </ec-input>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="empresa"
						      	ng-model="datos.empresa"
						      	name="empresa"
						      	ng-maxlength="100">
						     </ec-input>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="cifnif"
						      	ng-model="datos.cif"
						      	name="cif"
						      	ng-required="true"
						      	type="dni"
						      	placeholder="ej: 99999999X">
						     </ec-input>
						    
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="email"
						      	ng-model="datos.email"
						      	name="email"
						      	ng-required="true"
						      	ng-maxlength="100"
						      	type="email"
								placeholder="ej: johndoe@dominio.com">
						     </ec-input>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="telefono"
						      	ng-model="datos.telefono"
						      	name="telefono"
						      	ng-required="true"
						      	ng-maxlength="13">
						     </ec-input>
						</div>
						<!--/span-->
					</div>

					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="VAT"
						      	ng-model="datos.vat"
						      	name="vat"
						      	ng-maxlength="10">
						     </ec-input>
						</div>
						
					</div>

					<!--/row-->
					<h3 class="form-section">{{'localizacion'|translate}}</h3>
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="direccion"
						      	ng-model="datos.direccion"
						      	name="direccion"
						      	ng-maxlength="150">
						     </ec-input>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="ciudad"
						      	ng-model="datos.localidad"
						      	name="ciudad"
						      	ng-maxlength="100"
						      	ec-autocomplete="(cities)">
						     </ec-input> 			
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="provincia"
						      	ng-model="datos.provincia"
						      	name="provincia"
						      	ng-maxlength="100">
						     </ec-input>							

						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="cp"
						      	ng-model="datos.cp"
						      	name="cp"
						      	ng-maxlength="10">
						     </ec-input>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="pais"
						      	ng-model="datos.pais"
						      	name="pais"
						      	ng-required="true"
						      	ng-maxlength="3">
						     </ec-input>

						</div>
						<!--/span-->
					</div>
					<h3 class="form-section">{{'contacto'|translate}}</h3>
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="nombre"
						      	ng-model="datos.contactos.nombre"
						      	name="contactos.nombre"
						      	ng-maxlength="100">
						     </ec-input>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="apellidos"
						      	ng-model="datos.contactos.apellidos"
						      	name="contactos.apellidos"
						      	ng-maxlength="100">
						     </ec-input>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<ec-input 
								label="email"
						      	ng-model="datos.contactos.email"
						      	name="contactos.email"
						      	ng-required="true"
						      	ng-maxlength="100"
						      	type="email">
						     </ec-input>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<ec-input 
								label="telefono"
						      	ng-model="datos.contactos.telefono"
						      	name="contactos.telefono"
						      	ng-maxlength="100">
						     </ec-input>
						</div>
						<!--/span-->
					</div>
					
						<!--/span-->
				</div>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn blue" ng-click="guardar()" ng-disabled="!formDatos.$valid"><i class="fa fa-save"></i> {{'guardar'|translate}}</button>
									<a href="#" ui-sref="contrato.datos.detalle" type="button" class="btn default">{{'cancelar'|translate}}</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</form>
	</div>
</div>