<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-green-haze">
			<i class="icon-credit-card font-green-haze"></i>
			<span class="caption-subject bold uppercase"> Configuración de pago</span>
		</div>
		<div class="actions">
			<a class="btn btn-circle btn-icon-only blue" href="javascript:;">
				<i class="icon-printer"></i>
			</a>
			<a class="btn btn-circle btn-icon-only green" href="javascript:;">
				<i class="icon-wrench"></i>
			</a>
			<a class="btn btn-circle btn-icon-only red" href="javascript:;">
				<i class="icon-trash"></i>
			</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form">
			<div class="form-body">
				<!-- <h3 class="form-section">Información</h3> -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Método de pago:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.medioPago.descripcion}}</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group" ng-if="facturacion.cuenta.perfil_facturacion.metodo_pago.id==2">
									<label class="control-label col-md-3">Tipo de tarjeta:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.tipoTarjeta.nombre}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Banco:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.banco}}</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group" >
									<label class="control-label col-md-3">BIC/SWIFT:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.bic}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Periodicidad:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.periodicidad}}
									</p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-if="facturacion.cuenta.perfil_facturacion.metodo_pago.id==2">
								<label class="control-label col-md-3">Número tarjeta:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.numTarjeta}}
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-if="facturacion.cuenta.perfil_facturacion.metodo_pago.id==2">
								<label class="control-label col-md-3">Caducidad:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.mesCaducidad}} / {{facturacion.anioCaducidad}}
									</p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-if="facturacion.cuenta.perfil_facturacion.metodo_pago.id==2">
								<label class="control-label col-md-3">CCV:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.ccv}}
									</p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-if="facturacion.medioPago.objectId=='72099CDA-E535-4331-A9BD-DAE3370C5B43'">
								<label class="control-label col-md-3">IBAN:</label>
								<div class="col-md-9"> 
									<p class="form-control-static">
										{{facturacion.iban}}
									</p>
								</div>
							</div>
						</div>
						
					</div>
					<!--/row-->

					<h3 class="form-section">Datos facturación</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Nombre:</label>
								<div class="col-md-9">
									<p class="form-control-static">
										{{facturacion.nombre}}</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Apellidos:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.apellidos}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Empresa:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.empresa}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">CIF/NIF:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.cifnif}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Email:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.email}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Teléfono:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.telefono}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">VAT Number:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.vat}}
										</p>
									</div>
								</div>
							</div>
							
						</div>
						<!--/row-->
						<h3 class="form-section">Dirección de facturación</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Dirección:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.direccion}}
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Ciudad:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.localidad}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Provincia/Estado:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.provincia}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Código Postal:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.cp}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-3">Pais:</label>
									<div class="col-md-9">
										<p class="form-control-static">
											{{facturacion.pais}}
										</p>
									</div>
								</div>
							</div>
							<!--/span-->
						</div>
					</div>






					
				</div>
				
				<div class="form-actions">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<a href="#" ui-sref="contrato.facturacion.editar" type="submit" class="btn green"><i class="fa fa-pencil"></i> Edit</a>
									
								</div>
							</div>
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</form>
		
	</div>
</div>